@require "./base"
ul,
li
    list-style none

.example-container
    padding 10px

    h1
        font-size 16px
        margin-bottom 10px

.img-container
    display flex

    .img-wrapper
        margin-bottom 8px

    .img-left
        width 48%
        margin-right 8px

    .img-right
        flex 1

.img-wrapper
    img
        display block
        width 100%