@require "./base"

.example-container
    height 1000px
    padding 10px

    h1
        font-size 16px
        margin-bottom 10px
        color #2c3e50
        padding-bottom 10px
        border-bottom 1px solid #eaecef

.img-container
    display flex

    .img-wrapper
        margin-bottom 8px

    .img-left
        width 49%
        margin-right 8px

    .img-right
        flex 1

.img-wrapper
    img
        display block
        width 100%